sudo: required
addons:
  chrome: stable
language: ruby
rvm:
  - 2.6.3
before_script:
  - ln -s /usr/lib/chromium-browser/chromedriver ~/bin/chromedriver
  - export DISPLAY=:99.0 && sleep 3
script:
  - bundle install --jobs 3 --retry 4
  - bundle exec rails db:create RAILS_ENV=test
  - bundle exec rails db:migrate RAILS_ENV=test
  - bundle exec rspec
services:
  - xvfb
  - postgresql